* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light-icon {
  height: 20px;
}

.dark {
  /* background: var(--dark-secondary); */
  color: var(--light-primary);
}

.notFound{
  height: fit-content;
  font-size: 1.4rem ;
}

body {
  background: var(--light-primary);
}
