:root {
  --light-primary: hsl(0, 0%, 98%);
  --light-secondary: hsl(0, 0%, 100%);
  --light-text: hsl(200, 15%, 8%);
  --dark-primary: hsl(207, 26%, 17%);
  --dark-secondary: hsl(209, 23%, 22%);
}

* {
  font-family: "Nunito Sans", sans-serif;
}
